<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Eldin App - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="box-login">

      <form [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)">

          <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
      
            <ion-button type="submit" class="btn-login" color="tertiary" expand="block" shape="round">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Login
            </ion-button>
      
      </form>
      
      <a [routerLink]="['/register']">Já tem uma conta? Faça login!</a>

    </div>
  
</ion-content>
