<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eldin App - Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-input type="text" placeholder="Pesquisar... (Cargo, Nome, Sobrenome)" (ionChange)='onSearch($event.target.value)'></ion-input>
  </ion-card>

    <ion-list lines="none" *ngFor="let user of (users | async)">
      <ion-card class="welcome-card">
        <ion-card-header>
          <div class="heder-card">

            <img style="width:64px !important;" height="64px" [src]="user.foto" />
            <div class="title-card">

              <ion-card-title >{{user.nome}} {{user.sobrenome}}</ion-card-title>
              <ion-card-subtitle>{{user.cargoatual}}</ion-card-subtitle>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p>Objetivo de Cargo: {{user.cargo}}</p>
          <p>Email: {{user.email}}</p>
          <p>Experiencias: {{user.experiencia}}</p>
          <ion-button (click)="doCall(user.telefone)" color="primary">
            <ion-icon name="call"></ion-icon>
            Ligar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>

</ion-content>
